@import "styles.css";
.excerpt {
    width: 60%;
    margin-bottom: 15px;
    text-align: left;
}

.blog-post {
    /* Hide list style */
    list-style-type: none;
    /* Space each blog post from each other for easy distinction */
    margin: 80px auto;
}