@import "styles.css";
:root {
    /* Table */
    --table-cell-bg: var(--active-bg);
    /* Progress bar */
    --unobtained-progress: gray;
    --obtained-progress: var(--secondary);
    --marker: var(--body-font);
    --marker-stroke: var(--body-stroke);
}


/* Dashboard */


/* Progress bar */

.progress-parent {
    display: flex;
    justify-content: center;
}


/* Unfilled progress bar */

.progress-container {
    position: relative;
    width: 70%;
    height: 20px;
    max-width: 600px;
    background: var(--unobtained-progress);
    /* Make it curved */
    border-radius: 5px;
    /* margin-left: auto; */
    /* margin-right: auto; */
}


/* Filled part of bar */

.completeness-bar {
    /* Current completed percentage */
    /* this would be dynamically set */
    /*todo: if possible based on the table values */
    width: 10%;
    /* Visual color for completed progress on the bar */
    background: var(--obtained-progress);
    /* Use the same border-radius as the parent bar and fill its height */
    border-radius: inherit;
    height: 100%;
}


/* Marker for NBSA Boundary */

.marker-list {
    list-style: none;
}


/* Marker and marker text */

.marker-list .marker {
    /* Position */
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    /* Setting a dotted line that is black and white to work in both contrasts */
    background-image: radial-gradient(var(--marker-stroke) 1px, var(--marker) 1px);
    background-size: 4px 4px;
    background-position: -1px -1px;
    /* Marker text font details*/
    font-size: 12px;
    color: var(--marker);
    /* Font stroke color to work in ligher settings when the bar is full */
    text-shadow: -1px -1px 0 var(--marker-stroke), 1px -1px 0 var(--marker-stroke), -1px 1px 0 var(--marker-stroke), 1px 1px 0 var(--marker-stroke);
    /* Keep the marker and text on the same line */
    white-space: nowrap;
}


/* Table of courses */

.dashboard tr {
    background-color: var(--table-cell-bg);
    text-align: center;
}