@import "styles.css";
:root {
    /* Table */
    --table-cell-bg: var(--active-bg);
    /* Progress bar */
    --unobtained-progress: gray;
    --obtained-progress: var(--inactive-bg);
    --font-progress: var(--bar-font);
    --marker: var(--tertiary);
}


/* Dashboard */


/* Progress bar */

.progress-parent {
    display: flex;
    justify-content: center;
}

.progress-container {
    /* display: block; */
    /* float: right; */
    position: relative;
    width: 70%;
    height: 20px;
    max-width: 600px;
    background: var(--unobtained-progress);
    border-radius: 5px;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.completeness-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    border-radius: inherit;
    /* this would be dynamically set */
    /*todo: if possible based on the table values */
    height: 100%;
    background: var(--obtained-progress);
}

.marker-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.marker-list .marker {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    background-image: radial-gradient(var(--marker) 1px, transparent 0);
    background-size: 4px 4px;
    background-position: -1px -1px;
    font-size: 12px;
    color: var(--marker);
    white-space: nowrap;
}


/* Table of courses */

.dashboard {
    margin-left: auto;
    margin-right: auto;
}

.dashboard tr {
    background-color: var(--table-cell-bg);
    text-align: center;
}