:root {
    /* Color variables*/
    /* Background */
    --bg: #084C61;
    /* Font and element colors */
    --secondary: #77d83f;
    --tertiary: #E3B505;
    --quarternary: #ff9560;
    /* --quinary: rgb(254, 116, 116); */
    --body-font: rgb(224, 224, 224);
    --body-stroke: black;
    /* navbar and sidebar */
    --inactive-bg: #56A3A6;
    --inactive-font: black;
    --active-bg: #4F6D7A;
    --hover-bg: blue;
    --bar-font: black;
    --active-font: white;
    --hover-font: white;
}


/*General Elements that apply to all pages*/

header {
    padding-bottom: 37px;
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
    text-align: center;
    min-width: 200px;
}

h1,
h4,
th {
    color: var(--secondary);
}

h2,
h5 {
    color: var(--tertiary);
}

h3,
h6 {
    color: var(--quarternary);
}

body {
    background-color: var(--bg);
    color: var(--body-font);
    /* 0 margin on top, left and right for the navbar at the top to not have space on the outside */
    margin: 0px 0px auto 0px;
    font-family: 'lato', 'Segoe UI', system-ui;
}


/* For most elements I reduced width to 40-50%, set the margins to auto to centralize the text on big screens 
    and put a min-width to still look nice on smaller screens, 
    though they may have to scroll left and right if it is extremely small */

p {
    width: 45%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--secondary);
}

ol {
    min-width: 200px;
}

ul {
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
}

li {
    text-align: left;
}

img {
    /* Image as block element so it takes up the whole width*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    min-width: 300px;
}


/* main {
    display: block;
    padding: 15px;
    margin: 15px;
} */

table {
    margin-left: auto;
    margin-right: auto;
}


/*Navbar*/

nav {
    text-align: left;
}

nav ul {
    text-align: center;
    display: inline-block;
    background-color: var(--inactive-bg);
    white-space: nowrap;
    list-style-type: none;
    margin: auto;
    padding: 0;
    height: max-content;
    width: 100%;
    /*Make it stick, even on scroll*/
    position: fixed;
    /* overflow: auto; */
    /* Enable scrolling if the sidenav has too much content */
}

nav li a {
    /* Allows us to specify padding*/
    display: block;
    color: var(--inactive-font);
    padding: 8px 16px;
    text-decoration: none;
}

nav li {
    float: left;
    text-align: center;
}

.my-name {
    color: var(--inactive-font);
    font-family: 'Pacifico', 'Dancing Script', 'Great Vibes', 'Italianno', 'Allura', 'Kaushan Script', 'Sacramento', 'Courgette', 'Satisfy', 'Quicksand', cursive;
    float: right;
    padding-right: 5%;
}


/* When hovered */

nav li a:hover {
    background-color: var(--hover-bg);
    color: var(--hover-font);
}


/* When it is the selected page */

.active {
    background-color: var(--active-bg);
    color: var(--active-font);
}


/*Aside bar*/

aside {
    padding-left: 15px;
    margin-top: 25px;
    margin-left: 15px;
    text-align: center;
}

aside ul {
    display: inline-block;
    /* text-align: left; */
    background-color: var(--inactive-bg);
    white-space: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: max-content;
    width: max-content;
    /* position: fixed; */
    /*Make it stick, even on scroll*/
    /*overflow: auto;
    /* Enable scrolling if the sidenav has too much content */
    border: 1px solid black;
}

aside li a {
    display: block;
    /* Allows us to specify padding*/
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

aside li a:hover {
    background-color: var(--hover-bg);
    color: var(--hover-font);
}

aside li {
    text-align: center;
    border-bottom: 1px solid black;
}

aside li:last-child {
    border-bottom: none;
}