:root {
    /*
    --bg-color: rgb(240, 240, 240);
    --h-font-color: rgb(33, 53, 85);
    --body-font-color: rgb(79, 112, 156);
    --inac-bg-color: rgb(229, 210, 131);
    --ac-bg-color: rgb(33, 53, 85);
    */
    /*todo: create variables "primary color" "secondary color" etc... and set the below variables to those*/
    --primary: black;
    --primary-variant: black;
    --secondary: rgb(254, 116, 116);
    --tertiary: #ff9560;
    --success: black;
    --warning: black;
    --danger: black;
    --dark: black;
    --medium: black;
    --light: black;
    --info: black;
    --primary-variant: black;
    --secondary-variant: black;
    --background: black;
    --surface: black;
    --on-primary: black;
    --on-secondary: black;
    --on-background: black;
    --on-surface: black;
    --on-error: black;
    --accent: #DB504A;
    /* Text color currently used*/
    --bg: #084C61;
    --h-font: #ff9560;
    --body-font: #E3B505;
    /* navbar and sidebar */
    --inactive-bg: #56A3A6;
    --active-bg: #4F6D7A;
    --hover-bg: blue;
    --bar-font: black;
    --active-font: white;
    --hover-font: white;
}


/*General Elements that apply to all pages*/

header {
    padding-bottom: 37px;
}

h1,
h3,
h4,
h5,
h6,
th {
    color: var(--secondary);
    text-align: center;
}

h2 {
    color: var(--tertiary);
    text-align: center;
}

body {
    background-color: var(--bg);
    color: var(--body-font);
    /* text-align: center; */
    margin: 0px 0px auto 0px;
}

p {
    /* margin: 20px; */
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--secondary);
}

ol {
    /* margin-left: 5%; */
    list-style-position: inside;
    text-align: left;
    margin-left: 25%;
}

ul {
    /* margin-left: 5%; */
    width: 40%;
    list-style-position: inside;
    text-align: center;
    /* margin-left: 25%; */
    margin-left: auto;
    margin-right: auto;
}

li {
    text-align: left;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/*Navbar*/

nav {
    text-align: left;
}

nav ul {
    text-align: center;
    display: inline-block;
    background-color: var(--inactive-bg);
    white-space: nowrap;
    list-style-type: none;
    margin: auto;
    padding: 0;
    height: max-content;
    width: 100%;
    /* width: max-content; */
    position: fixed;
    /*Make it stick, even on scroll*/
    /*overflow: auto;
    /* Enable scrolling if the sidenav has too much content */
}

nav li a {
    display: block;
    /* Allows us to specify padding*/
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

nav li {
    float: left;
    text-align: center;
    /*border-bottom: 1px solid black;*/
}

nav li:last-child {
    border-bottom: none;
}

nav li a:hover {
    background-color: var(--hover-bg);
    color: var(--hover-font);
}

.active {
    background-color: var(--active-bg);
    color: var(--active-font);
}

main {
    display: block;
    padding: 15px;
    margin: 15px;
}

table {
    margin-left: auto;
    margin-right: auto;
}


/*Aside*/

aside {
    padding-left: 15px;
    margin-top: 25px;
    margin-left: 15px;
    text-align: center;
}

aside ul {
    display: inline-block;
    /* text-align: left; */
    background-color: var(--inactive-bg);
    white-space: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: max-content;
    width: max-content;
    /* position: fixed; */
    /*Make it stick, even on scroll*/
    /*overflow: auto;
    /* Enable scrolling if the sidenav has too much content */
    border: 1px solid black;
}

aside li a {
    display: block;
    /* Allows us to specify padding*/
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

aside li a:hover {
    background-color: var(--hover-bg);
    color: var(--ac-font);
}

aside li {
    text-align: center;
    border-bottom: 1px solid black;
}

aside li:last-child {
    border-bottom: none;
}