:root {
    /*
    --bg-color: rgb(240, 240, 240);
    --h-font-color: rgb(33, 53, 85);
    --body-font-color: rgb(79, 112, 156);
    --inac-bg-color: rgb(229, 210, 131);
    --ac-bg-color: rgb(33, 53, 85);
    */
    /*todo: create variables "primary color" "secondary color" etc... and set the below variables to those*/
    --bg-color: #084C61;
    --h-font-color: #DB504A;
    --body-font-color: #E3B505;
    --inac-bg-color: #56A3A6;
    --ac-bg-color: #4F6D7A;
    --hov-bg-color: blue;
}


/*General Elements that apply to all pages*/

header {
    padding-bottom: 37px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--h-font-color);
    text-align: center;
}

body {
    background-color: var(--bg-color);
    color: var(--body-font-color);
    /* text-align: center; */
    margin: 0px 0px 20px 0px;
}

a {
    color: var(--h-font-color);
}

ol {
    /* margin-left: 5%; */
    list-style-position: inside;
    text-align: left;
    margin-left: 25%;
}

ul {
    /* margin-left: 5%; */
    list-style-position: inside;
    text-align: left;
}

.answer {
    list-style-type: square;
    text-align: left;
    margin-left: 15%;
}

.numbered {
    list-style-type: lower-roman;
}

img {
    text-align: center;
}


/*Navbar*/

nav {
    text-align: left;
}

nav ul {
    text-align: center;
    display: inline-block;
    background-color: var(--inac-bg-color);
    white-space: nowrap;
    list-style-type: none;
    margin: auto;
    padding: 0;
    height: max-content;
    width: 100%;
    /* width: max-content; */
    position: fixed;
    /*Make it stick, even on scroll*/
    /*overflow: auto;
    /* Enable scrolling if the sidenav has too much content */
    border: 0px solid black;
}

nav li a {
    display: block;
    /* Allows us to specify padding*/
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

nav li {
    float: left;
    text-align: center;
    /*border-bottom: 1px solid black;*/
}

nav li:last-child {
    border-bottom: none;
}

nav li a:hover {
    background-color: var(--hov-bg-color);
    color: white;
}

.wrapper {
    display: flex;
    /*justify-content: space-between;*/
}

.active {
    background-color: var(--ac-bg-color);
    color: white;
}

main {
    display: block;
    padding: 15px;
    margin: 15px;
}


/*Aside*/

aside {
    padding-left: 15px;
    margin-left: 15px;
    text-align: center;
}

aside ul {
    display: inline-block;
    /* text-align: left; */
    background-color: var(--inac-bg-color);
    white-space: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: max-content;
    width: max-content;
    /* position: fixed; */
    /*Make it stick, even on scroll*/
    /*overflow: auto;
    /* Enable scrolling if the sidenav has too much content */
    border: 1px solid black;
}

aside li a {
    display: block;
    /* Allows us to specify padding*/
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

aside li a:hover {
    background-color: var(--hov-bg-color);
    color: white;
}

aside li {
    text-align: center;
    border-bottom: 1px solid black;
}

aside li:last-child {
    border-bottom: none;
}


/*Single page elements*/


/* Dashboard */


/* Progress bar */

.progress-bar {
    position: relative;
    width: 100%;
    height: 20px;
    max-width: 600px;
    background: var(--inac-bg-color);
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    /* this would be dynamically set */
    /*todo: if possible based on the table values */
    height: 100%;
    background: var(--hov-bg-color);
}

.marker-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.marker-list .marker {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    /*background-color: black;*/
    background: gray;
    background-image: radial-gradient(var(--h-font-color) 1px, transparent 0);
    background-size: 4px 4px;
    background-position: -1px -1px;
    font-size: 12px;
    color: var(--h-font-color);
    white-space: nowrap;
}

.dashboard tr {
    border: solid black 1px;
    background-color: darkblue;
}


/* FAQ */

details {
    border: solid var(--h-font-color) 2px;
    max-width: 1000px;
    text-align: center;
    margin: 20px auto;
}

summary:before {
    content: "Show answer";
}

details[open] summary:before {
    content: "Hide answer";
}

details[open] summary {
    border-bottom: dotted var(--h-font-color) 2px;
}