@import "../styles.css";
:root {
    --button-light-color: rgb(176, 182, 184);
    --button-dark-color: rgb(88, 96, 99);
    --button-size: 16px;
}


/* Radio and checkbox label styling */

.radio-checkbox-label {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    /* Add padding to avoid having text behind radio button */
    cursor: not-allowed;
    /* Change cursor to not-allowed for disabled state */
    color: var(--body-font);
}

.radio-checkbox-input {
    display: none;
    /* Hide the default button for checkbox and radio*/
}


/* Custom radio indicator outer box*/

.radio-custom {
    /* Position always at top left */
    position: absolute;
    top: 0;
    left: 0;
    /* Size of radio button*/
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--button-light-color);
    border: calc(0.04*var(--button-size)) solid var(--button-dark-color);
    /* Make it circular */
    border-radius: 50%;
}


/* Custom radio indicator inner box (when checked) */

.radio-checkbox-input:checked+.radio-custom::before {
    /* Add a content pseudo-element for the radio indicator, leave empty*/
    content: '';
    display: block;
    /* Position of inner circle in center of bigger circle*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Size of the inner circle*/
    width: calc(0.625*var(--button-size));
    height: calc(0.625*var(--button-size));
    /* Color of the inner circle when checked */
    background-color: var(--button-dark-color);
    /* Make it circular */
    border-radius: 50%;
}


/* Custom checkbox indicator box*/

.checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--button-size);
    /* Adjust the size of the custom checkbox */
    height: var(--button-size);
    /* Adjust the size of the custom checkbox */
    background-color: var(--button-dark-color);
    /* Background color of the custom checkbox */
    border: calc(0.0625*var(--button-size)) solid var(--button-light-color);
    /* Border color of the custom checkbox */
    border-radius: 3px;
    /* Rounded corners for the custom checkbox */
}


/* Custom checkbox indicator checkmark */

.radio-checkbox-input:checked+.checkbox-custom::before {
    /* Unicode checkmark character */
    content: '\2714';
    display: block;
    position: absolute;
    /* Position of inner circle in center of outer box*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Color of the checkmark when checked */
    background-color: var(--button-dark-color);
    /* Size of the checkmark */
    font-size: calc(0.75*var(--button-size));
}

.question {
    color: var(--tertiary);
    margin: 30px auto 10px auto;
}

.answer {
    padding-left: 100px;
    width: 50%
}