@import "../styles.css";
.swot-table {
    width: 100%;
    min-width: 900px;
    overflow-x: auto;
    max-width: 1450px;
    padding: 0 10px;
}

.swot-table-ul {
    min-width: 65%;
}

.inner-heading {
    color: var(--tertiary);
}

.outer-heading {
    color: var(--quarternary);
}